<script type="text/html" id="CrudCell">
    <td data-bind="html: typeof (renderFunction) === 'function' ? renderFunction($parent[name], $parent) : $parent[name], style: { width: width() + 'px' }"></td>
</script>