<script type="text/html" id="CrudHeaderCell">
	<th data-bind="style: { width: width() + 'px' }">
		<span class="header" data-bind="text: name">
		</span>
		<span class="grip" data-bind="attr: {'data-index': $index}"></span>
	</th>
</script>