@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>

@Html.Partial(partialViewName: "_CrudTableTemplate");

<table>
	<thead>
		<tr>
			<th>	Name</th>
			<th>	Description</th>
			<th>	Weight</th>
		</tr>
	</thead>

    <tbody data-bind="template: {
		name: 'CrudRow',
        foreach: rows
    }">
    </tbody>
</table>



@section scripts
{
	@Scripts.Render("~/bundles/knockout")
	@Scripts.Render("~/bundles/crud")
}

