table {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    table-layout: fixed;
    overflow: hidden;
    white-space: nowrap;
}

select{
    width: 100%;
}

td, th {
    border-bottom: #BBBBBB solid 2px;
    border-left: #BBBBBB solid 1px;
    border-right: #BBBBBB solid 1px;
    display: inline-block;
    overflow: hidden;
    padding-left: 3px;
}
th {
    border-top: #BBBBBB solid 2px;
}

thead {
    display: block;
    position: relative;
}

tbody {
    display: block;
    overflow-y: auto;
    max-height: 300px;
}

.header {
    display: inline-block;
    width: 100%;
    margin-left: -3px;
    margin-right: -3px;
}

.grip {
    display: inline-block;
    width: 5px;
    height: 100%;
    margin-left: 1px;
    cursor: col-resize;
    z-index: 5;
    position: absolute;
}

#shade, #modal {
    display: none;
}

#shade {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#modal {
    position: fixed;
    z-index: 51;
    top: 20%;
    left: 25%;
    width: 50%;
    background-color: #BBBBBB;
    text-align: center;
}

#shade {
    background: silver;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.close, .deleteButton{
    float:right;
}

.deleteButton{
    color: #FF0000;
    cursor: pointer;
}