table {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    table-layout: fixed;
    overflow: hidden;
    white-space: nowrap;
	border-collapse:collapse;
    padding-left:3px;
}

thead {
    display: block;
    position: relative;
	border: #DDDDDD solid 1px;
}

tbody {
    display: block;
    overflow-y: auto;
	overflow-x: hidden;
    max-height: 250px;
	border: #DDDDDD solid 1px;
    padding-bottom: 1px;
}

td, th {
    border-bottom: #DDDDDD solid 2px;
    border-left: #DDDDDD solid 1px;
    display: inline-block;
    overflow: hidden;
    padding-left: 3px;
	height: 100%;
}

th {
    border-top: #DDDDDD solid 2px;
}

select{
    width: 100%;
}

.header {
    display: inline-block;
}

.header a {
    color: #0000FF;
    cursor: pointer;
    font-weight: normal;
    margin-left:-4px;
    margin-right:-4px;
}

.grip {
    width: 5px;
    height: 100%;
    cursor: col-resize;
    position: absolute;
}

.shadow, .modal {
    display: none;
    position: fixed;
}

.shadow {
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: silver;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.modal {
    z-index: 51;
    top: 20%;
    left: 25%;
    width: 50%;
    background-color: #BBBBBB;
    text-align: center;
}

.close, .deleteLink{
    float:right;
}
.deleteLink{
    margin-right: 20px;
    color: #FF0000;
    cursor: pointer;
}
.editLink{
    color: #0000FF;
    cursor: pointer;
}